.main {
    margin: auto;
}

.h1{
    padding-bottom:20px;
}
.h2term{
    padding-left:10px;
    padding-top:20px;
    padding-bottom:20px;
}

.p2{
    padding-left:15px;
}

.abcd_list{
    list-style-type: none;
    padding-left:20px;
}

.num_list{
    list-style-type: none;
    padding-left:25px;
}
.null_list{
    list-style-type: none;
    padding-left:35px;

}

