.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 70%;
    border-radius: 5px;
    margin-top: 7%;
    height: 70vh;
    margin-bottom: 7%;
    padding: 5% 5% 0 5%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tick {
    width: 100%;
    height: 40px;
    font-size: 40px;
    text-align: center;
    color: #FF2B06;
}

.main_div {
    display: flex;
    justify-content: center;
}

.confirmed {
    text-align: center;
    font-size: 20px;
    margin-top: 5%;
    letter-spacing: 0.75px;
}

.confirm {
    /* text-align: center; */
    font-size: 15px;
    margin-top: 3%;
    /* letter-spacing: 0.75px; */
}

.btn_dwn {
    text-align: center;
    margin-top: 30px;
}

.btne2 {
    display: block;
    margin: auto;
    padding: 10px 20px;
    background-color: #E62B1E;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
    margin-top: 30px;
    border: 2px solid #E62B1E;
    cursor: pointer;
}

#exp {
    padding-left: 20px;

}

.btne2:hover {
    background-color: white;
    color: #EB0028;
    border: #EB0028 solid 2px;
}


.hidden_container {
    position: absolute;
    right: 10000px;
    top: 0px;
}

.ticket_container {
    position: relative;
}


@media only screen and (max-width: 600px) {
    .card {
        height: 45%;
    }

    .btne1 {
        margin: 3%;
    }

    .btne2 {
        margin: 3%;
        margin-bottom: 10%;
    }

    .btn_dwn {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 600px) {
    .card {
        height: 30%;
    }
}

@media only screen and (max-width: 300px) {
    .btn_dwn {
        margin-top: 20px;
    }

    .btne2 {
        margin-bottom: 15%;
    }
}