* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.outerbox {
  margin: 15px;
  margin-top: 30px;
}

.innerbox {
  display: flex;
  justify-content: space-between;
}

.contentbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 5px -8px rgb(0 0 0);
  width: 48%;
}

.heading {
  color: #ee3624;
  font-size: 3rem;
  font-weight: 800;
}

.content {
  font-size: 1rem;
  padding: 2rem 4rem;
  color: #000;
  text-align: justify;
}

.contentbox2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  box-shadow: 0 5px 5px -8px rgb(0 0 0);
}

.heading2 {
  color: #eb0028;
  font-size: 3rem;
  font-weight: 800;
  display: flex;
}

.content2 {
  color: #000;
  font-size: 1rem;
  padding: 1.5rem 4rem;
  text-align: justify;
}

.outerbox2 {
  display: flex;
  justify-content: center;
}

.contentbox3 {
  width: 46.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ee3624;
  border-radius: 5px;
  box-shadow: 0 5px 15px -8px rgb(0 0 0);
  margin-bottom: 1rem;
  padding: 5px;
}

.vdoframe {
  width: 100rem;
  height: 26rem;
  width: 100%;
  /* border-radius: 3rem; */
}

.mainContent {
  margin: 5rem 5.5rem;
  width: 90%;
}

.teamHeader{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-items: center;
  /* text-align: center; */
}
.teamHeading {
  font-size: 3rem;
  color: #ee3624;
  font-weight: 700;
  /* letter-spacing: 3px; */
}


.teamHeader2 {
  margin-top: 1rem;
  color: rgba(32, 31, 31, 0.7);
  /* margin-bottom: 1rem; */
}

.teamHeader2 p {
  font-size: 1.3rem;
  font-weight: 700;
  
}

/* .reflect{
  position: absolute;
  transform: rotate(180deg) rotateY(180deg) rotateX(40deg);
  opacity: 0.3;
} */

.teamHeaderContent {
  margin-top: 1rem;
  min-width: 250px;
  width: 90%;
}
.teamHeaderContent p {
  font-size: 1.2rem;
  font-weight: 400;
  /* letter-spacing: 0.8px; */
}

.teamImg {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.imgBox {
  padding: 20px 50px;
}

.imgBox img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform: scale(1, 1);
}

.imgBox img {
  --color: #ee3624;
  --border: 10px;
  --offset: 20px;
  --gap: 5px;

  --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)),
    var(--color) 0;
  --_o: calc(3 * var(--offset));
  padding: calc(var(--gap) + var(--border))
    calc(var(--gap) + var(--border) + var(--offset))
    calc(var(--gap) + var(--border) + var(--offset))
    calc(var(--gap) + var(--border));
  background: linear-gradient(var(--_c)) var(--_o) var(--_o),
    linear-gradient(90deg, var(--_c)) var(--_o) var(--_o);
  background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
  background-repeat: no-repeat;
  transition: 0.5s;
  cursor: pointer;
}

.imgBox img:hover {
  background-position: 0px 0px;
  background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
  filter: grayscale(0);
}



.imgTitle {
  /* margin-top: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgTitleName {
  font-size: 1.2rem;
  font-weight: 500;
}

.imgTitlePost {
  padding-top: 3px;
  font-weight: 300;
}

.carousel{
  margin: 80px;
}

.carouselImage{
  width: 50%;
}

@media screen and (width < 1450px) {
  .contentbox3 {
    /* margin: 0 6rem; */
    width: 95%;
  }
  .contentbox3 iframe {
    width: 100%;
  }

  .content {
    padding: 2rem 2rem;
  }

  .content2 {
    padding: 1.3rem 2rem;
  }
}

/* @media screen and (width < 1285px) {
  .imgBox {
    width: 80%;
    height: 95%;
  }
  .imgTitle {
    width: 80%;
    height: 95%;
  }
} */

@media screen and (width < 1000px) {
  .main {
    flex-direction: column;
  }

  .contentbox3 {
    margin-top: 5rem;
  }
}

@media (890px < width <1285px) {
  .imgBox {
    padding: 40px 20px;
  }
}



@media screen and (width < 890px) {
  .mainContent {
    margin: auto;
    /* margin: 3rem; */
    /* margin-left: 2.5rem; */
  }
  .teamImg {
    display: flex;
    flex-direction: column;
  }
  .contentbox3 {
    margin: 0 2rem;
  }
  /* .mainContent {
    margin-left: 3.2rem;
  } */

  .teamHeading{
    font-size: 2.2rem;
  }
  .teamHeader2 p{
    font-size: 1rem;
  }
  .teamHeaderContent p {
    font-size:0.9rem;
  }
}

@media (width<570px) {
  .teamHeading{
    font-size: 1.54rem;
  }
  .teamHeader2 p{
    font-size: 1rem;
  }
  .teamHeaderContent p {
    font-size:0.9rem;
  }
}

@media screen and (width < 682px) and (width > 421px) {
  .innerbox {
    display: flex;
    flex-direction: column;
  }
  .contentbox {
    width: 100%;
  }
  .contentbox2 {
    margin: 2rem 0;
    width: 100%;
  }
  /* .mainContent {
    margin-left: 2.5rem;
  } */
  .contentbox3 {
    width: 100%;
  }
}

@media screen and (width < 420px) {
  .main {
    flex-direction: column;
  }

  .outerbox {
    display: flex;
    flex-direction: column;
  }
  .innerbox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content p {
    text-align: justify;
  }
  .content {
    width: 150%;
    padding: 1rem 0;
    margin-bottom: 2rem;
  }
  .content2 {
    width: 150%;
    padding: 1rem 0;
  }
  .content2 p {
    text-align: justify;
  }

  .mainContent {
    margin-left: 1.5rem;
  }
  .contentbox3 {
    width: 100%;
    margin: 1rem;
  }
  .teamHeading{
    font-size: 1.56rem;
  }
  .teamHeader2 p{
    font-size: 1rem;
  }
  .teamHeaderContent p {
    font-size:0.9rem;
  }
}
